
<iframe src="//giphy.com/embed/cbG9wtoO8QScw" width="480" height="270.7692307692308" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/wwe-wrestling-excited-cbG9wtoO8QScw">via GIPHY</a></p>
<h1> <%=@game.player_1.named%> clocking in to kick some a$$ </h1>
<h1> <%=@game.player_2.named%> back in the game for some major carnage </h1>

<%=@game.player_1.named%>: <%=@game.player_1.hp%>HP
<%=@game.player_2.named%>: <%=@game.player_2.hp%>HP
</br>
<%= @game.attacking_player.named %>'s turn

<form action="/attack">
  <input type='submit' value="Attack">
</form>
